
<h1>Binasc</h1>
<p>Binary ↔ ASCII hex code converter</p>

<!--
<p class="view"><a href="https://github.com/craigsapp/binasc">View the Project on xxx GitHub <small>craigsapp/binasc</small></a></p>
-->

<ul>
<li><a href="https://github.com/craigsapp/binasc/zipball/master">Download <strong>ZIP File</strong></a></li>
<li><a href="https://github.com/craigsapp/binasc/tarball/master">Download <strong>TAR Ball</strong></a></li>
<li><a href="https://github.com/craigsapp/binasc">View On <strong>GitHub</strong></a></li>
</ul>


